<li>
  <div
    class="career-item"
    data-id=<%= career.id %>
    data-name="<%= career.title %>"
  >
    <%= career.title %> - <%= career.field %>
  </div>
  <button class="btn" id="edit-person">Edit</button>
  <button class="btn" id="delete-person">Delete</button>
</li>
